p{
    color:rgba(253, 253, 253, 0.801);
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: xx-large;
    height:1px;
    padding:35px;
    margin:0px;
    margin-top:200px;
}

*{
    background-color:rgb(8, 21, 56);
}

h1{
    color:rgb(255, 255, 255);
    text-align: center;
    font-size:large;
    font-family: 'Courier New', Courier, monospace;
}